* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar {
  width: 300px;
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 20px 0;
  position: fixed;
}
.sidebar-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}
.sidebar-menu{
  list-style: none;
}
.sidebar-menu li{
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.3s;
}
.sidebar-menu li i{
  font-size: 20px;
  color: white;
}
.sidebar-menu li a{
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
.sidebar-menu li:hover{
  background-color: #333;
}
.active{
  background-color: #333;
}
@media(max-width: 768px) {
  .sidebar {
    display: none;
  }
}