.login-page {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}

.login-container {
  width: 100%;
  max-width: 420px;
  text-align: center;
}

.login-container h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #111;
}

.login-form {
  text-align: left;
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  font-size: 15px;
  margin-bottom: 8px;
  color: #111;
}

.form-group input {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 6px;
  background: #f5f5f5;
  font-size: 14px;
  outline: none;
}

.form-group input::placeholder {
  color: #bbb;
}

.register-text {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-top: 25px;
}

.login-Btn{
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.register-text a {
  color: #ff2d7d;
  text-decoration: none;
  font-weight: 500;
}