.navbar{
  border-bottom: 0.5px solid #eee;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
}

.navbar .logo{
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.nav-links ul{
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links ul li a, .btn-container a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav-links ul li a:hover{
  color: gray;
  transition: 0.3s;
}

.btn-container a{
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 4px;
}
.btn-container a:hover{
  background-color: black;
  color: white;
  transition: 0.3s;
}

.active{
  font-weight: bold;
  border-bottom: 1px solid black;
}