.role-select {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.role-select label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  cursor: pointer;
  color: #444;
}

.role-select input[type="radio"] {
  accent-color: #ff2d7d;
}

.success-message{
  width: 100%;
  background: rgb(123, 222, 123);
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
  color: green;
  font-size: 18px;
}